.dashboard {
    &__main {
        position: relative;
        transition: all 0.3s ease;

        &--open {
            width: calc(100% - 28rem);
            left: 28rem;
        }

        &--close {
            width: calc(100% - 8rem);
            left: 8rem;
        }

        .main__container {
            @include flexBox(row, center, center);

            &.hidden {
                display: none;
            }

            @include md {
                @include flexBox(row, center, center);

                &.hidden {
                    @include flexBox(row, center, center);
                }
            }
        }

        .main__content {
            overflow: hidden;
            flex-grow: 1;
            margin: 0 auto;
            position: relative;
            width: 100%;

            @include md {
                max-width: 120.7rem;
            }
        }

    }
}