.nav {
    &__container {
        -webkit-box-pack: justify;
        @include flexBox(row, space-between, center);
        min-height: 6.4rem;
        padding-left: 2.4rem;
        padding-right: 2.4rem;
    }

    &__left {
        @include flexBox(row, center, center);

        .toggle-sidebar {
            &__container {
                cursor: pointer;
            }
        }
    }

    &__right {
        @include flexBox(row, center, center);

        &.hidden {
            display: none;
        }

        @include md {
            @include flexBox(row, center, center);

            &.hidden {
                @include flexBox(row, center, center);
            }
        }

        .user {
            &__container {
                @include flexBox(row, center, center);
            }

            &__name {
                margin: 0;
                font-size: 1.4rem;
                font-weight: 500;
                letter-spacing: 0;
                line-height: 1.75;
                color: $secondary-color;
            }
        }
    }
}