.news-item {

    &__content {
        width: 100%;
        padding: 2rem;

        @include md {
            padding: 0;
        }
    }

    &__breadcrumb {
        color: $dark-grey;
        font-size: 1.2rem;
        font-weight: 400;
        text-transform: uppercase;
        margin-bottom: 30px;

        &-divider {
            margin: 10px 0 0;
            width: 50px;
            height: 3px;
            background-color: #00326d;

        }
    }

    &__title {
        font-size: 2.3125rem;
        margin-bottom: 1rem;
        font-weight: 500;
        line-height: 1.4;
        color: $text-headings;

        @include md {
            font-size: 3.1875rem;
            margin-bottom: 26px;
        }
    }

    &__description {
        color: $text-body;
        font-size: 1rem;

        @include md {
            font-size: 1.8rem;
        }
    }

    &__image {
        width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }
}