.pagination-controls {
    &__container {
        @include flexBox(row, space-between, center);
    }

    &__text {
        font-size: 1.4rem;
        font-weight: 500;
        color: $text-body;
    }
}