// Colors 
$primary-color: #c336e5;
$secondary-color: #181b34;
$primary-text-color: #fff;
$text-headings: #101e51;
$text-subheadings: #465896;
$text-body: #343c51;
$dark-grey: #8d8d8d;

//Font Families 
$primary-font: 'Inter', sans-serif;

//Breakpoints
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;